@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$colors-list : #ffefe6 #dab5a1 #d49d89 #6a3a33 #524346;

.product-variant-container {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    .price {
        font-size: 16px;
        letter-spacing: 1.5px;
        font-weight: 600;
        color: #666666;
        text-align: center;
        margin: 4px 0;
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
    .product-variant-color,
    .product-variant-stock {
        font-size: 13px;
        color: #222222;
        letter-spacing: 1.5px;
        font-weight: normal;
        .value {
            font-weight: 600;
        }
    }
    .product-variant-color {
        margin: 25px 0 16px;
    }
    .product-variant-stock {
        margin: 24px 0;
    }
    .product-variant-control {
        .dot {
            &.selected {
                border: solid #444444;
                box-sizing: border-box;
            }
            @each $current-color in $colors-list {
                $i: index($colors-list, $current-color);
                &.dot-#{$i} { 
                    background-color: $current-color;
                }
            }            
        }
    }
    .size-container {
        color: #444444;
        font-size: 13px;
        display: flex;
        .band-size {
            margin-right: 15px;
        }
        .band-size,
        .cup-size {
            .band-size-label,
            .cup-size-label {
                margin-bottom: 8px;
            }
        }
    }
    button {
        width: 370px;
        height: 50px;
        background-color: #444444;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1.5px;
        padding: 0;
        border: none;
        margin: 15px 0 0;
        text-transform: uppercase;
        @media only screen and (max-width: 375px) {
            width: 351px;
        }
        @media only screen and (min-width: 376px) and (max-width: 768px) {
            width: 100%;
        }
    }
}