.control {
    .dot {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: #cccccc;
        border-radius: 50%;
        margin-right: 14px;
        // @media only screen and (min-width: 376px) and (max-width: 768px) {
        //     width: 768px;
        // }
    }
}
