@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.home {
    .detail-title-top {
        display: none;
        @media only screen and (max-width: 768px) {
            display: block;
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.17;
        }
    }
    .detail-price-top {
        display: none;
        @media only screen and (max-width: 768px) {
            display: block;
            text-align: center;
            font-family: 'Open Sans', serif;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.17;
            letter-spacing: 1;
            color: #666666;
        }
    }    
    .image-detail {
        display: flex;
        flex-direction: row;
        .carousel-container {
            position: relative;
            .carousel-control {
                display: none;
                @media only screen and (max-width: 375px) {
                    left: 150px;
                    bottom: 10px;
                    display: block;
                }
                @media only screen and (min-width: 376px) and (max-width: 768px) {
                    display: block;
                    left: 342px;
                    bottom: 20px;
                }
                position: absolute;
                .dot {
                    @media only screen and (max-width: 375px) {
                        width: 7px;
                        height: 7px;
                        margin-right: 10px;
                    }
                    @media only screen and (min-width: 376px) and (max-width: 768px) {
                        width: 9px;
                        height: 9px;
                        margin-right: 10px;
                    }
                    &.selected {
                        background-color: #444444;
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            display: block;
        }
        .detail {
            margin: 22px 38px 0 38px;
            @media only screen and (max-width: 375px) {
                margin: 22px 12px 0 12px;
            }
            @media only screen and (min-width: 376px) and (max-width: 768px) {
                margin: 34px 30px 0 30px;
            }
            .detail-title {
                font-family: 'Abhaya Libre', serif;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                line-height: 1.17;
                margin: 0;
                width: 366px;
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            .thumbnails {
                display: none;
            }
        }
    }
    .image-description {
        width: 737px;
        width: auto;
        ul {
            padding-left: 16px;
        }
        @media only screen and (max-width: 375px) {
            padding: 0 16px;
        }
        @media only screen and (min-width: 376px) and (max-width: 768px) {
            padding: 0 30px;
        }
        h5 {
            text-transform: uppercase;
            font-size: 13px;
            font-family: 'Open Sans', sans-serif;
            border-bottom: solid 3px #f7f7f7;
            padding: 35px 0 14px;
        }
        .text {
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: #444444;
        }
    }
}