.thumbnails-container {
    display: flex;
    flex-direction: column;
    img {
        width: 74px;
        height: 82px;
        margin: 0 10px 10px 0;
        &.selected {
            outline: solid 1px #888888;
        }
    }
}
