@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
body {
    margin: 0;
    padding: 0;
}

#main-content {
    max-width: 1152px;
    margin: 68px auto 0;
    @media only screen and (max-width: 768px) {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
}

.custom-modal {
    border-radius: 10px;
    font-family: 'Abhaya Libre', serif;
}