.carousel {
    // width: 652px;
    // height: 726px;
    // overflow: hidden;
    // position: relative;
    // @media only screen and (max-width: 375px) {
    //     width: 375px;
    //     height: 375px;
    // }
    // @media only screen and (min-width: 376px) and (max-width: 768px) {
    //     width: 768px;
    //     height: 768px;
    // }
    .swipeable {
        display: flex;
        overflow: hidden;
        @media only screen and (max-width: 375px) {
            width: 375px;
            height: 375px;
        }
        @media only screen and (min-width: 376px) and (max-width: 768px) {
            width: 768px;
            height: 768px;
        }
        @media only screen and (min-width: 769px) {
            width: 652px;
            height: 726px;
        }
        .content {
            display: flex;
            img {
                width: 652px;
                @media only screen and (max-width: 375px) {
                    width: 375px;
                }
                @media only screen and (min-width: 376px) and (max-width: 768px) {
                    width: 768px;
                }
            }
        }
    }
}
