.Select {
    &.combo {
        .Select-control {
            border-radius: 0;
            width: 178px;
            @media only screen and (max-width: 768px) {
                width: 170px;
            }
        }
        &.is-open {
            .Select-arrow {
                transform: rotate(225deg);
                border-width: 5px 5px 2.5px;
                border-color: #444444;
                top: 0;
                border-width: 2px;
            }
        }
        .Select-arrow {
            top: 0;
            display: inline-block;
            border-right: 2px solid #444444;
            border-bottom: 2px solid #444444;
            border-top-style: none;
            border-left-style: none;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
        }
    }
}